header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;

}
.menu{
    display: flex;
    justify-content: space-between;
    width: 70%;
}
.menu nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120%;
    padding: 0;
   
}


.menu ul li{
    
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    
}
.logo img{
    width: 100%;
    display: flex;
    align-items: center;
}
.logo{
    width: 10%;
}
.menu-photo{
    width: 5%;
}
.menu img{
    width: 100%;
    display: flex;
    align-items: center;
}
